<!DOCTYPE html>
<html>
  <head>
    <title>Musubi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="format-detection" content="telephone=no">
    <%= favicon_link_tag 'favicon.ico' %>
    <script src="https://js.pay.jp/" , type="text/javascript"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <meta name="google-site-verification" content="kUN_c608p1yALEB-mjhzTBfGR2PXq8KJNVENAWtTa08" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
