<%= render partial: 'shared/header' %>

<div class="module-spacer--large"></div>
<div class="module-spacer--large"></div>

<nav class="home_container">
    <%#画像%>
    <div class="home_index_img">
        <%= image_tag "musubi.png", alt: "MUSUBIロゴ" %>
    </div>

    <div class="module-spacer--large"></div>

    <%#会社概要%>
    <div class="home_index_about">
        <div class="home_index_about_title">
            <p>会社概要</p>        
        </div>

       <div class="module-spacer--medium"></div>

        <div class="home_index_about_contents">
            <table>
            <tr>
                <th>法人名</th>
                <td>株式会社 むすび</td>
            </tr>
            <tr>
                <th>代表者氏名</th>
                <td>宮里　康和</td>
            </tr>
            <tr>
                <th>設立年</th>
                <td>2021年3月16日</td>
            </tr>
            <tr>
                <th>所在地</th>
                <td>大阪府東大阪市稲田新町二丁目14番7号</td>
            </tr>
            <tr>
                <th>事業内容</th>
                <td>化粧品製造業<br>化粧品製造販売業<br>物品の仕入れ販売業務<br>就労継続支援連携</td>
            </tr>
            </table>
        </div>
    </div>

    <div class="module-spacer--large"></div>

    <%#社長挨拶%>
    <div class="home_index_president">

        <div class="home_index_president_title">
            <p>社長挨拶</p>
        </div>

        <div class="module-spacer--medium"></div>

        <div class="home_index_president_img">
            <%= image_tag "miyazato_2.jpg", alt: "人物写真" %>
        </div>  

        <div class="module-spacer--medium"></div>

        <div class="home_index_president_message">
            <div class="home_index_president_message_title">
                <p>「自分のために走り出し誰かのためにゴールする」をスローガンにしております。</p>
            </div>

            <div class="module-spacer--medium"></div>

            <div class="home_index_president_message_main">
                <p>はじめまして、株式会社むすび代表取締役の宮里 康和です。</p>
                <p>今年はオリンピック•パラリンピックの開催もあり、私もパーソナルコーチとして関わらせていただきました。</p>
                <p>コロナ禍においてオリンピック•パラリンピックを開催していただけたのは本当に感謝しております。</p>
                <p>しかし新型コロナウイルスによる影響が懸念され、予断を許さない状況が続いております。</p>
                <div class="module-spacer--small"></div>
                <p>（株）むすびでは、昨今のコロナウイルス渦で非常に重要となっている感染予防に焦点を当て、高い除菌率と長時間の除菌効果を特徴としたAg+イオン水を拡販しております。また今後は、化粧品等の多角的な商品を皆さまにご提供できるよう、事業を展開していく予定です。</p>
                <div class="module-spacer--small"></div>
                <p>また就労継続支援の事業所と連携し、一連の販売作業（在庫管理〜発送手配）を障がいを持った方たちに一任。誰もが自分らしく生活できるユニバーサルな社会の実現に取り組んでおります。</p>
                <div class="module-spacer--small"></div>
                <p>（株）むすびはこれからも誰かのために寄り添い、快適な暮らしを実現できるよう、メンバー一丸となって走り続けていきます。どうぞご支援・ご指導のほどよろしくお願いいたします。</p>
            </div>

            <div class="module-spacer--medium"></div>

            <div class="home_index_president_message_end">
                <p>代表取締役 社長</p>
                <p>宮里 康和</p>
            </div>
              
        </div>  

    </div>

    <div class="module-spacer--large"></div>

    <%#経営陣略歴%>
    <div class="home_index_biography">

        <div class="home_index_biography_title">
            <p>経営陣 略歴</p>
        </div>

        <div class="module-spacer--medium"></div>

        <div class="home_index_biography_context">

            <div class="home_index_biography_context_name">
                <p>代表取締役社長 宮里 康和</p>
            </div>  

            <div class="module-spacer--medium"></div>
            
            <div class="home_index_biography_context_detail">

                <div class="home_index_biography_img">
                    <%= image_tag "miyazato_1.jpg", alt: "人物写真" %>
                </div>  

                <div class="home_index_biography_items">
                    <div class="home_index_biography_item">
                        <span>1997年</span>
                        <p>ダイハツ工業入社</p>
                    </div>  
                    <div class="home_index_biography_item">
                        <span>2000年</span>
                        <p>自衛隊入社</p>
                    </div>  
                    <div class="home_index_biography_item">
                        <span>2013年2月</span>
                        <p>パラオ設立</p>
                    </div>  
                    <div class="home_index_biography_item">
                        <span>同上</span>
                        <p>炭火焼肉「八」開業</p>
                    </div>  
                    <div class="home_index_biography_item">
                        <span>2014年7月</span>
                        <p>ラブパラオ株式会社設立</p>
                    </div>  
                    <div class="home_index_biography_item">
                        <span>2018年6月</span>
                        <p>合同会社りんぐ設立</p>
                    </div>  
                    <div class="home_index_biography_item">
                        <span>2019年2月</span>
                        <p>合同会社LYF設立</p>
                    </div>  
                    <div class="home_index_biography_item">
                        <span>2019年11月</span>
                        <p>北堀江サロン開業</p>
                    </div>  
                    <div class="home_index_biography_item">
                        <span>2021年3月</span>
                        <p>株式会社むすび設立</p>
                    </div>  
                </div>  
            </div>  
        </div>  
    </div>
    
    <div class="module-spacer--large"></div>

    <%#事業紹介%>
    <div class="home_index_activity">
        <div class="home_index_activity_title">
            <p>事業紹介</p>        
        </div>

        <div class="module-spacer--medium"></div>

        <div class="home_index_activity_contents">
            <section class="home_index_activity_card">
                <%= link_to new_company_registration_path do %>
                    <%= image_tag "agency.png", class: "card-img", alt: "代理店事業" %>
                    <div class="card-content">
                        <h1 class="card-title">代理店事業</h1>
                        <p class="card-text">商品の拡販について代理店事業をおこなっております</p>
                    </div>
                <% end %>
            </section>
            <section class="home_index_activity_card">
                <%= link_to products_path do %>
                    <%= image_tag "vacteria.jpg", class: "card-img", alt: "Pay.jpロゴ" %>
                    <div class="card-content">
                        <h1 class="card-title">除菌液販売</h1>
                        <p class="card-text">高除菌率×長時間除菌を実現する商品を販売しています</p>
                    </div>
                <% end %>
            </section>
            <section class="home_index_activity_card">
                <%= link_to products_path do %>
                    <%= image_tag "cosmetics.png", class: "card-img", alt: "化粧品画像" %>
                    <div class="card-content">
                        <h1 class="card-title">化粧品販売</h1>
                        <p class="card-text">酵素水、CBDを使用した商品を販売しています</p>
                    </div>
                <% end %>
            </section>
            <section class="home_index_activity_card">
                <a href="/">
                    <%= image_tag "disability.jpg", class: "card-img", alt: "バリアフリー画像" %>
                    <div class="card-content">
                        <h1 class="card-title">就労継続支援</h1>
                        <p class="card-text">ユニバーサルな社会の実現に向け活動をしています</p>
                    </div>
                </a>
            </section>
            <section class="home_index_activity_card">
                <a href="https://www.youtube.com/channel/UCtq-1hszppYGhRH3sEwDiVQ">
                    <%= image_tag "youtube.png", class: "card-img", alt: "YouTubeロゴ" %>
                    <div class="card-content">
                        <h1 class="card-title">YouTube</h1>
                        <p class="card-text">商品の説明をメインとしてYouTubeでも活動しています</p>
                    </div>
                </a>
            </section>
            <section class="home_index_activity_card">
                <a href="/">
                    <img class="card-img" src="https://source.unsplash.com/random" alt="" width=350px>
                    <div class="card-content">
                        <h1 class="card-title">6</h1>
                        <p class="card-text">〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇</p>
                    </div>
                </a>
            </section>
        </div>
    </div>

</nav>

<div class="module-spacer--large"></div>

<%= render partial: 'shared/footer' %>
<%= javascript_pack_tag 'shared/reveal' %>