<%= render partial: 'shared/header' %>

<div class="registration_new_content">

  <%= form_with model: @user, url: user_session_path, class: 'registration_new_fields', local: true do |f| %>

  <h2 class="registration_new_title">ログイン画面</h2>

  <div class="module-spacer--medium"></div>

  <div class="registration_new_field">

    <div class="registration_new_field_alert">
      <% if @user.errors.include?(:email) %>
      <p class="alert_danger" style=" color: red;">
        <%= @user.errors.full_messages_for(:email).first %>
      <% end %>
    </div>

    <div class="registration_new_field_main">
      <div class="registration_new_field_main_title">
        <%= f.label :email, "メールアドレス" %>
      </div>
      <div class="registration_new_field_main_enter">
        <%= f.email_field :email %>
        <p>例）musubi@gmail.com</p>
      </div>
    </div>

  </div>

  <div class="module-spacer--medium"></div>
  
  <div class="registration_new_field">

    <div class="registration_new_field_alert">
      <% if @user.errors.include?(:password) %>
      <p class="alert_danger" style=" color: red;">
        <%= @user.errors.full_messages_for(:password).first %>
      <% end %>
    </div>

    <div class="registration_new_field_main">
      <div class="registration_new_field_main_title">
        <%= f.label :password, "パスワード" %>
      </div>
      <div class="registration_new_field_main_enter">
        <%= f.password_field :password %>
        <p>8桁以上の半角英数字、記号は含まない</p>
      </div>
    </div>

  </div>

  <div class="module-spacer--medium"></div>

  <div class="registration_new_field_button">
    <%= f.submit "ログイン" %>
  </div>

  <div class="module-spacer--medium"></div>

  <%= link_to "新規登録はこちら", new_user_registration_path %>

  <div class="module-spacer--small"></div>

  <%= link_to "パスワードをお忘れの方はこちら", new_user_password_path %>

  <% end %>

</div>

<%= render partial: 'shared/footer' %>