<%= render partial: 'shared/header' %>

<nav class="home_content">

    <div class="module-spacer--large"></div>
    <div class="module-spacer--large"></div>

    <div class="home_concept">
        <h1 class="concept_title_1">幸せの基本概念</br>　　〜 コンセプト 〜 </h1>
        <p class="concept_words_1">
            今、</br>
            世界は地球環境や経済格差による、</br>
            不平等を無くし、</br>
            迫害による人権問題、</br>
            貧困問題、</br>
            此れから人類が希望を持ち、</br>
            暮らせる未来を創り上げる。</br>
            賛同者を広げ未来を変える。</br>
        </p>
        <h3 class="concept_title_2">平等な社会、世界を創ろう</h1>
        <p class="concept_words_2">全世界の人々の幸せを創る</p>
    </div>

    <div class="module-spacer--large"></div>

    <div class="home_happy_definition">
        <span class="home_happy_definition_title_eng">Happiness definition</span>
        <div class="module-spacer--small"></div>
        <h2 class="home_happy_definition_title_jp">幸せの定義</h2>
        <div class="module-spacer--large"></div>
        <p class="home_happy_definition_description">足るを知るを身上とする。</br>(自分に合う尺度を持つ)</p>
        <div class="module-spacer--medium"></div>
        <div class="home_happy_definition_section">
            <span>01</span>
            <p>自己の立場、能力に合う今の位置で足るを知る。(幸せ尺度を知る)</p>
        </div>
        <div class="module-spacer--small"></div>
        <div class="home_happy_definition_section">
            <span>02</span>
            <p>過去、現在、未来、人を大事に生きることを身上とする。</p>
        </div>
        <div class="module-spacer--small"></div>
        <div class="home_happy_definition_section">
            <span>03</span>
            <p>嘘偽り迷惑を掛けない、妬み、恨み、僻みを持たず、人に思いやりを持ち、人を傷つける言動をしない。</p>
        </div>
        <div class="module-spacer--small"></div>
        <div class="home_happy_definition_section">
            <span>04</span>
            <p>人の長所を称え、短所を責めない自己改善、良い所だけ褒める事。</p>
        </div>
    </div>

    <div class="module-spacer--large"></div>
    <div class="module-spacer--large"></div>

    <div class="home_happy_definition">
        <span class="home_happy_definition_title_eng">Happiness Concept</span>
        <div class="module-spacer--small"></div>
        <h2 class="home_happy_definition_title_jp">幸せの概念</h2>
        <div class="module-spacer--small"></div>
        <%= image_tag "幸せの概念.png", alt: "幸せの概念の図" %>
        <div class="module-spacer--medium"></div>
        <div class="home_happy_definition_section">
            <span>01</span>
            <p>人間学</br></br>人を思いやりを大事にし、愛情、感謝、利他の精神を伝えること</p>
        </div>
        <div class="module-spacer--small"></div>
        <div class="home_happy_definition_section">
            <span>02</span>
            <p>自然科学</br></br>山、海、川、草木などを全てのものを愛する心を伝えること</p>
        </div>
        <div class="module-spacer--small"></div>
        <div class="home_happy_definition_section">
            <span>03</span>
            <p>宇宙学</br></br>宇宙に存在するすべての生物は、宇宙をこよなく愛し汚すようなことがないようにすること</p>
        </div>
        <div class="module-spacer--small"></div>
        <div class="home_happy_definition_section">
            <span>04</span>
            <p>平等学</br></br>動物、草木、山河、虫、鳥、岩石などすべてのものは平等であり、人間のエゴで地球、宇宙、山河、自然を破壊してならない。すべてのものは平等です。すべてを愛し、同調する考え</p>
        </div>
        <div class="module-spacer--small"></div>
        <div class="home_happy_definition_section">
            <span>05</span>
            <p>健康学(生命科学)</br></br>自然の免疫を高め健康になることで生き生き過ごし、自分を取人々の幸せ創造協会り戻すこと。</p>
        </div>
    </div>

    <div class="module-spacer--large"></div>
    <div class="module-spacer--large"></div>

    <div class="home_happy_definition">
        <span class="home_happy_definition_title_eng">Happiness Hummingbird</span>
        <div class="module-spacer--small"></div>
        <h2 class="home_happy_definition_title_jp hachidori">幸せの鳥ハチドリ運動</br>　〜幸せを世界に広げる〜</h2>
        <div class="module-spacer--large"></div>
        <%= image_tag "hachidori.png", alt: "hachidori" %>
        <div class="module-spacer--medium"></div>
        <h2 class="home_happy_definition_title_jp">ハチドリの役割</h2>
        <div class="module-spacer--small"></div>
        <div class="home_happy_definition_section">
            <span>01</span>
            <p>ハチドリが花粉を花から運び、一面花を咲かし豊かな自然を創り、全ての動植物への豊かな環 境を創る。</p>
        </div>
        <div class="module-spacer--small"></div>
        <div class="home_happy_definition_section">
            <span>02</span>
            <p>ハチドリは森林火災が起きた時、全ての森の動物は逃げてもその場に残り一滴の雫を加え燃え る森林の中で炎を消す活動を辞めなかったという。命の危険が迫る中、感動的な犠牲精神、身 をもって死をも顧みず環境を守るこの素晴らしい考え行動に倣い、我々n行動指針とする。</p>
        </div>
        <div class="module-spacer--small"></div>
        <div class="home_happy_definition_section">
            <span>03</span>
            <p>宇宙学</br></br>宇宙に存在するすべての生物は、宇宙をこよなく愛し汚すようなことがないようにすること</p>
        </div>
        <div class="module-spacer--small"></div>
        <div class="home_happy_definition_section">
            <span>04</span>
            <p>ハチドリに倣い人類社会が、全世界に平等で幸せな社会を実現でき、希望に満ち、豊かな生活、 家庭を実現する。</p>
        </div>
        <div class="module-spacer--small"></div>
        <div class="home_happy_definition_section">
            <span>05</span>
            <p>健康学(生命科学)</br></br>自然の免疫を高め健康になることで生き生き過ごし、自分を取人々の幸せ創造協会り戻すこと。</p>
        </div>
        <div class="module-spacer--medium"></div>
        <p class="hachidori_words">
            今、世界はデジタル革命が本格的に社会構造を変えていく。<span class="hachidori_words">ICT</span>によって引き起こされる貧富の差は意を増すごとに拡大を続け、持つ人持たない人の異常な揺らぎは広がり、人類の<span class="hachidori_words">歪みが大きくなる。</span>「イビツ」な社会が、今後増していく。人類が今後「ヒズミ」を正していくことで未来を正しく成長発展させることが必要です。<span class="hachidori_words">平等意識</span>の広がりが還元社会に役にたつことを願う。</br></br>世界は、思想の対立、考えの相違、宗教の<span class="hachidori_words">違いを超越</span>し一緒に豊かな環境築をくこと以外幸せは無いと思う。地球、宇宙をお互いの立場を超え、SDGsの目標達成、合わせて<span class="hachidori_words">人類平等の立場で認め合う</span>ことが人類幸せを築くことに繋がると思う。 この現状は、世界人類の危機を感じる。今、まさに声を大にして、人類未来を考える時が来たと思う。 未来永劫の幸せ、世界実現運動を実施しましょう。
        </p>
        <div class="module-spacer--medium"></div>

        <p class="home_happy_definition_author">人々の幸せ創造協会　会長</br>石川竜三</p>
    
        <div class="module-spacer--large"></div>

        <%= image_tag "hachidori_sdgs.png", alt:"hachidori_sdgs" %>
    </div>

</nav>

<div class="module-spacer--large"></div>

<%= render partial: 'shared/footer' %>