<%= render partial: 'shared/header' %>

<div class="registration_new_content">

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'registration_new_fields', method: :post }) do |f| %>

  <h2 class="registration_new_title">パスワードをお忘れですか？</h2>
  <p class= "registration_new_title_sub">- お客様専用 -</p>

  <div class="module-spacer--medium"></div>

  <div class="registration_new_field">

    <div class="registration_new_field_alert">
      <% if @user.errors.include?(:email) %>
      <p class="alert_danger" style=" color: red;">
        <%= @user.errors.full_messages_for(:email).first %>
      <% end %>
    </div>

    <div class="registration_new_field_main">
      <div class="registration_new_field_main_title">
        <%= f.label :email, "ご登録済みのメールアドレス" %>
        <span>必須</span>
      </div>
      <div class="registration_new_field_main_enter">
        <%= f.email_field :email, autofocus: true, autocomplete: "email"%>
        <p>お客様が登録したメールアドレスへ再設定のご案内をお送りします。</p>
      </div>
    </div>

  </div>

  <div class="module-spacer--medium"></div>

  <div class="registration_new_field_button">
    <%= f.submit "送信" %>
  </div>

  <div class="module-spacer--medium"></div>

  <%= link_to "新規登録はこちら", new_user_registration_path %>

  <div class="module-spacer--small"></div>

  <%= link_to "既に登録している方はこちら（ログイン）", new_user_session_path %>

  <% end %>

</div>

<%= render partial: 'shared/footer' %>
<%= javascript_pack_tag "shared/address" %>